name: Upload to cloudflare

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}

    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install Dependencies
      run: npm ci

    - name: Build
      run: npm run build

    - name: Get branch name
      run: echo "BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV

    - name: Format branch name
      id: format
      run: echo "::set-output name=branch::$(echo ${{ github.ref_name }} | sed 's/\//-/g')"

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
       aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
       aws-region: us-east-2 # replace with your AWS region

    - name: Upload to S3
      run: |
        aws s3 cp build "s3://${{ secrets.AWS_S3_BUCKET }}/${{ steps.format.outputs.branch }}" --recursive --acl public-read
    - name: Invalidate CloudFront
      uses: chetan/invalidate-cloudfront-action@v2
      env:
        DISTRIBUTION: ${{ secrets.DISTRIBUTION }}
        PATHS: "/${{ steps.format.outputs.branch }}/*"
        AWS_REGION: "eu-north-1"
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    - name: Create commit comment
      uses: peter-evans/commit-comment@v3
      with:
          body: |
            Preview this branch on [AppPreview]

            [https://${{ steps.format.outputs.branch }}.apppreview.tech]: https://${{ steps.format.outputs.branch }}.apppreview.tech
          reactions: '+1'